<br>
<h1 class="text-center">My Reservations</h1>
<br>
<div class="row">   
    <div class="col-xs-12 col-md-3"></div>        
    <div class="col-xs-12 col-md-6">
        <form #reservedRoomForm="ngForm" (ngSubmit)="getEmail(reservedRoomForm.value)">
        <div class="form-group">
                <label style="padding-left: 10px;">Email</label>
            <div class="row">
            <div class="col col-md-10" style="padding-left: 20px;">
                <input type="text" class="form-control" name="searchEmail" id="searchEmail" ngModel>
            </div>
            <div class="col col-md-2">
                <button type="submit" class="btn btn-warning">Search</button>
            </div>
            </div>
            <!-- <button type="submit" (click)="getEmail()" class="btn btn-warning">Submit</button> -->
            <!-- <input type="text" class="form-control" placeholder="IT Scrum Meeting" name="searchPurpose" id="searchPurpose" ngModel> -->
        </div>
        </form>
        <br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Delete</th>
            <th>Email</th>
            <th>Room Name</th>
            <th>Purpose</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataitem of ReservedRoomList">
            <td>
                <button type="button" class="btn btn-light mr-1" style="margin-top: -6px;" (click)="deleteClick(dataitem)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg>
                </button>   
            </td>
            <!-- <td>{{dataitem.session.schedule_pk}}</td> -->
            <td>{{dataitem.email}}</td>
            <td>{{dataitem.display}}</td>
            <td>{{dataitem.purpose}}</td>
            <td>{{dataitem.begin | date: 'MM/dd/yyyy'}}</td>
            <td>{{dataitem.begin | date: 'shortTime'}}</td>
            <td>{{dataitem.end | date: 'shortTime'}}</td>
        </tr>
    </tbody>
</table>
</div>
</div>
